services:
  mysql:
    image: mysql:8.0
    container_name: blog_vca_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: blog_vca
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build: .
    container_name: blog_vca_api
    depends_on:
      - mysql
    env_file:
      - .env.docker
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ./files:/app/files

volumes:
  mysql_data:
